.header {
    background-color: var(--header-bg);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}

.navbar {
    display: flex;
    justify-content: left;
}

.navbar__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: left;
    column-gap: 20px;
}

.navbar__item {
    text-decoration: none;
    color: #333;
}

.navbar__item:hover {
    text-decoration: underline;
    cursor: pointer;
}