.restaurant {
    padding: 20px;
}

.category {
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: bold;
    margin-top: 8px;
}

.dishes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-y: auto;
    padding: 5px;
}