.restaurant {
    padding: 20px;
}

.categoryHeading {
    font-size: 36px;
    margin-bottom: 8px;
    font-weight: bold;
    margin-top: 8px;
}

.dishes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
    padding: 5px;
}

.category {
    position: relative;
}

.anchor {
    position: absolute;
    top: calc(var(--header-height) * -1);
    left: 0;
}